.buttons {
    display:flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    bottom:60px;
    width:100%;
}

.button {
    border:none;
    background: transparent;
    color: #f1f0e2;
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttonArray {
    border:0.5px solid #1a1a1a;
    border-radius:4px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:100%;
    background-color: #1a1a1a;
    color: #f1f0e2;
}

.buttons div {
    margin:10px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.spacing {
    margin-left: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
}