html,
body {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Mono', monospace;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
