.hud {
    color:#f1f0e2;
    position:fixed;
    bottom:0;
    right:0;
    display:flex;
    justify-content:center;
    align-items: flex-start;
    flex-direction: column;
    background-color:transarent;
    margin: 20px 20px 20px 0px;
    padding: 40px;
    border-radius: 20px;
    height: 250px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border:1px solid #f1f0e2;
    line-height: 3em;
    font-weight:400;
    font-style:italic;
    /* font-family: 'IBM Plex Mono', monospace; */
}

.hud div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bold {
    font-weight: 100;
    border:1px solid #f1f0e2;
    border-radius:10px;
    padding:10px;
    margin:10px;
    display: flex;
}

.legal {
    width:100%;
}