.video {
  position:fixed;
  background-position:top;
  background-size:cover;
  overflow:hidden;
  width:100vw;
  background: black;
}

.os {
  display:flex;
  width:fit-content;
  flex-direction: row;
  overflow: scroll;
  background: black;
  width:100vw;
}

@media only screen and (max-width: 600px) {
  .video {
    width:unset;
    height:100vh;
  }
}