.encompasser {
    margin-top:140px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    height: 80vh;
    color: #1a1a1a;
    font-weight:100;
    font-family: 'IBM Plex Mono', monospace;
    font-style:italic;
    flex-direction:column;
}

.display {
    /* border: 1px dotted #f1f0e2; */
    padding: 10px;
    border-radius: 4px 4px 20px 20px;
    /* -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px); */
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    width:300px;
    height: 200px;
    text-transform: uppercase;
    filter: drop-shadow(0 0 0.75rem #ccfff5);
    margin-top:10px;
}

.videothon {
    display:flex;
    justify-content:flex-start;
    align-items: flex-start;
    width: 100%;
    border:1px dotted #1a1a1a;
    border-radius: 15px;
    padding:20px;
    height: 100px;
    /* padding:20px 80px 20px 80px; */
    background-color:#ccfff5;
    color: #1a1a1a;
    flex-direction:column;
}

.time {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width:100%;
}

.time div {
    background:transparent;
    padding:10px;
    border-radius:5px;
    color:#1a1a1a;
    border:1px dotted #1a1a1a;
    margin-top:10px;
}

.dropCharacter {
    display: flex;
    justify-content: flex-start;
    width:100%;
}

.legal {
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
}